html{
    scroll-behavior: smooth;
}

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: black;
    min-height: 100vh;
}

.nav{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.05) ;
   backdrop-filter: blur(15px);
   -webkit-backdrop-filter: blur(15px);
    color: white;
    display: flex;
    padding-bottom: 2%;
    padding-top: 2%;
    width: 65%;
    border: 1px solid rgba(168, 85, 247, 0.6);
    border-radius: 15px;
    margin: 15px auto 0 auto;
    
}

.navigation{
   
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.item, p{
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.6);
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}

.item, a{
    text-decoration: none;
    color: white;
}

.item.active{
    background-color: rgba(168, 85, 247, 0.4);
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
    font-weight: 700;
    color: white;
    border: 1px solid rgba(168, 85, 247, 0.6);
    
}

.item:hover{
    color: rgba(255, 255, 255, 0.9);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(15px);
    margin-top: 3%;
}

/*🌟SECCION: SOBRE MI */

.info-aboutME{
    display: flex;
     border: 1px solid rgba(168, 85, 247, 0.6);
     border-radius: 10px;
}

.infoprofile{

    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.profile-picture, img{
    border-radius: 50%;
    width: 210px;
    height: 270px;
    margin-bottom: 7%;
}

.info-personal, strong, p{
    font-family: 'Geist Pixel', sans-serif;
    font-size: 0.7rem;
    margin-left: 3%;
    line-height: 1.6;
}

.info-work{
    width: 40vw;
    margin-right: 2%;
    margin-top: 2%;
    display: block;
    
}

.title-info, h1{
    font-family: 'Geist Pixel', sans-serif;
   text-align: justify;
   color: white;
}

.barra-title1{
    background-color:rgba(168, 85, 247, 0.6) ;
    height: 5px;
    border-radius: 10px;
    border-style: none;
    width: 270px;
}

.description-info{
    margin-top: 3%;
}

.links-info{
margin: 50px;
display: flex;
gap: 30px;
}

.link-GitHub, .link-Indeed, .link-Linkedin, .link-CV{
    font-family: 'Geist Pixel', sans-serif;
    background-color: transparent;
    border: 1px solid rgba(168, 85, 247, 0.6);
    padding: 15px;
    border-radius: 10px;
    

}