@import url('https://fonts.googleapis.com/css2?family=Akt:wght@100..900&family=Bebas+Neue&family=Bitcount+Prop+Single:wght@100..900&family=Bungee+Shade&family=Geist+Pixel&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.nav{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.05) ;
   backdrop-filter: blur(15px);
   -webkit-backdrop-filter: blur(15px);
    color: white;
    display: flex;
    padding-bottom: 2%;
    padding-top: 2%;
    width: 65%;
    border: 1px solid rgba(168, 85, 247, 0.6);
    border-radius: 15px;
    margin: 15px auto 0 auto;
    
}

.navigation{
   
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.item, p{
    font-family:'Geist Pixel', sans-serif;
    cursor: pointer;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.6);
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}

.item, a{
    text-decoration: none;
    color: white;
}

.item.active{
    background-color: rgba(168, 85, 247, 0.4);
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
    font-weight: 700;
    color: white;
    border: 1px solid rgba(168, 85, 247, 0.6);
    
}

.item:hover{
    color: rgba(255, 255, 255, 0.9);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(15px);
    margin-top: 3%;
}